html, body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
.navbar {
	margin-bottom: 0;
}
.navbar-brand {
	font-family: 'Open Sans';
	font-size: 2em;
}
.bg-primary {
	background-color: #ffffff;
	color: rgb(107, 120, 121)
}
.bg-secondary {
	background-color: #c0392b;
	color: #ecf0f1;
}
#navigation a {
	color: #ecf0f1;
}
#navigation a:hover {
	color: #bdc3c7;
}
#event {
	width: 70%;
	margin: 4px auto 0;
	height: 100%;
}
hr {
	border-color: rgb(107, 120, 121);
}
.bg-secondary hr {
	border-color: #ecf0f1;
}
 table.borderless td,table.borderless th{
     border: none !important;
}